extends layout

block content
  .chat-container
    h1 Chat Grupal
    .chat-box
      div#messages

    form.chat-form(onsubmit="return addMessage(this)")
      .form-group
        input#username.form-control(type="text" placeholder="Nombre" required)
      .form-group
        input#texto.form-control(type="text" placeholder="Mensaje..." required)
      .form-group
        input.btn.btn-primary(type="submit" value="Enviar")

  script(src="/socket.io/socket.io.js")
  script(src="/websocket/chat.js" defer) // Asegúrate de que el archivo estático está en esta ruta