extends layout

block content
  section.main-content.my-5
    if mensaje
      .alert.alert-info
        | #{mensaje}
    h1 Bienvenido a la Escuela
    p Ofrecemos una variedad de cursos para todos los niveles, con profesores expertos en cada materia.
