extends layout

block content
  h1 Iniciar Sesi칩n

  if error
    .alert.alert-danger.text-center= error

  form(action="/login" method="POST" class="mt-4")
    .form-group
      label(for="nombreUsuario") Nombre de Usuario:
      input#nombreUsuario.form-control(type="text" name="nombreUsuario" required placeholder="Ingresa tu nombre de usuario")
    .form-group
      label(for="clave") Contrase침a:
      input#clave.form-control(type="password" name="clave" required placeholder="Ingresa tu contrase침a")
    button.btn.btn-primary(type="submit") Iniciar Sesi칩n